$backgroundColor: #121212;
$radius: 12px;
$primary: #b553bf;
$secondary: #823a89;
$font-stack: "Caveat", cursive;
$black: #000 !default;
$box-shadow: 0 1rem 1.5rem rgba($black, 0.3) !default;

.response {
  width: 65vw;
  height: 50vh;
  border: #000 solid 1px;
  filter: drop-shadow(0px 0px 1px #000);
  overflow-y: scroll;
  resize: none;
  border: none;
  margin: auto;
  padding: 0;
  border-radius: $radius;
}

span {
  width: 100px;
  text-align: center;
  margin: auto;
  padding: 1rem;
  font-family: $font-stack;
  padding-top: 1vh;
}

.__json-pretty__ {
  background-color: #222222 !important;
  width: 60vw;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: $box-shadow;
  filter: drop-shadow(0px 0px 5px #00000069);
}

h1 {
  text-align: center;
  font-size: 3rem;
  transition: all 0.5s ease-in-out;
}
