$backgroundColor: #121212;
$radius: 12px;
$primary: #b553bf;
$secondary: #823a89;
$font-stack: "Caveat", cursive;
$black: #000 !default;
$box-shadow: 0 1rem 1.5rem rgba($black, 0.3) !default;

.response_container {
  width: 40vw;
  height: 50vh;
  margin: auto;
  border-radius: $radius;
  background-color: #222222 !important;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: $box-shadow;
  filter: drop-shadow(0px 0px 5px #00000069);
  overflow-y: scroll;

  @media screen and (max-width: 768px) {
    width: 75vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
  }
}

span {
  width: 100px;
  text-align: center;
  margin: auto;
  padding: 1rem;
  font-family: $font-stack;
  padding-top: 1vh;

  @media screen and (max-width: 768px) {
    width: 65vw;
    text-align: left;
    margin: auto;
    padding: 0.5rem;
    justify-content: space-around;
  }
}

.__json-pretty__ {
  background-color: #222222 !important;
  color: #fff !important;
}

h1 {
  text-align: center;
  font-size: 3rem;
  transition: all 0.5s ease-in-out;
}
