$backgroundColor: #222222;
$radius: 12px;
$primary: #b553bf;
$secondary: #823a89;
$third: #fba856;
$font-stack: "Caveat", cursive;
$black: #000 !default;
$box-shadow: 0 1rem 1.5rem rgba($black, 0.3) !default;

.form {
  gap: 1rem;
  align-items: center;
  background-color: $backgroundColor;

  label {
    display: flex;
    padding: 10px;
    color: #fff;
    gap: 1rem;

    input {
      width: 35rem;
      box-shadow: inset 0 0 20px #171717;
      margin: auto;
      border-radius: $radius;
      padding: 0.5rem;
      background-color: #171717;
      border: $primary solid 1px;
      color: $third;
    }

    &.methods {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
  button {
    cursor: pointer;
    display: block;
    padding: 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: $font-stack;
    border: none;
    margin: auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    width: 100px;
    border-radius: $radius;
    background-color: $primary;

    &:hover {
      background-color: $third;
    }
    &:active {
      background-color: $third;
      color: $primary;
      box-shadow: $box-shadow;
      transform: translateY(3px);
      transition: all 0.2ms with ease-in-out;
    }
  }
  .formButton {
    width: 200px;
    margin-top: 1vh;
    padding: 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  textarea {
    background-color: #171717;
    box-shadow: inset 0 0 20px #171717;
    border: $primary solid 1px;
    color: $third;
    width: 40rem;
    height: 20vh;
    max-width: 95%;
    margin: auto;
    // padding: 0.5rem;
    gap: 1rem;
    resize: none;
    border-radius: $radius;
    filter: drop-shadow(0px 0px 10px #000);
  }
}

.form-card {
  background-color: $backgroundColor;
  padding: 1rem;
  margin: 2rem auto;
  width: 50vw;
  max-width: 95%;
  height: 40vh;
  border-radius: $radius;
  box-shadow: $box-shadow;
  filter: drop-shadow(0px 0px 5px #000);
}
