$backgroundColor: #222222;
$radius: 12px;
$primary: #b553bf;
$secondary: #823a89;
$third: #fba856;
$font-stack: "Caveat", cursive;
$black: #000 !default;
$box-shadow: 0 1rem 1.5rem rgba($black, 0.3) !default;

.form {
  gap: 1rem;

  label {
    display: flex;
    padding: 10px;
    color: #fff;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      display: flex;
      padding: 0;
      margin: auto;
      align-self: center;
    }

    &.methods {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }

  input {
    box-shadow: inset 0 0 20px #171717;
    width: 90%;
    margin: 0 0 0 -30px;
    border-radius: $radius;
    padding: 0.5rem;
    background-color: #171717;
    border: $primary solid 1px;
    color: $third;

    @media screen and (max-width: 768px) {
      display: flex;
      width: 80%;
      flex-direction: column;
      margin: auto;
      margin-bottom: 1rem;
    }

    &.methods {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }

  button {
    cursor: pointer;
    width: 100px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: $font-stack;
    border: none;
    margin: auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    background-color: $primary;

    @media screen and (max-width: 768px) {
      width: 50px;
      width: 50rem;
      font-size: 0.7rem;
      padding: 4px;
      margin: auto 5 auto;
    }

    &:hover {
      background-color: $third;
    }
    &:active {
      background-color: $third;
      color: $primary;
      box-shadow: $box-shadow;
      transform: translateY(3px);
      transition: all 0.2ms with ease-in-out;
    }
  }
  .formButton {
    width: 200px;
    margin-top: 1vh;
    padding: 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      width: 250px;
      margin: 2rem auto;
    }

    &:hover {
      background-color: $third;
    }

    &:active {
      background-color: $third;
      color: $primary;
      box-shadow: $box-shadow;
      transform: translateY(3px);
      transition: all 0.2ms with ease-in-out;
    }
  }
  textarea {
    background-color: #171717;
    display: flex;
    box-shadow: inset 0 0 20px #171717;
    border: $primary solid 1px;
    color: $third;
    width: 80%;
    height: 20vh;
    margin: 0.25rem auto;
    margin-top: 1rem;
    resize: none;
    border-radius: $radius;
    filter: drop-shadow(0px 0px 10px #000);

    @media screen and (max-width: 768px) {
      width: 80%;
      margin: auto;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}
.form-card {
  background-color: #222222;
  padding: 0.25rem;
  margin: auto;
  width: 50vw;
  max-width: 45%;
  height: 50vh;
  border-radius: 12px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0px 0px 5px #000);

  @media screen and (max-width: 768px) {
    max-width: 600px;
    width: 80%;
    min-width: 300px;
    text-align: left;
    height: fit-content;
    margin: 0 auto;
  }
}
.url {
  margin: auto;

  @media screen and (max-width: 768px) {
    display: flex;

    flex-direction: column;
    padding: 1rem;
  }
}
