$backgroundColor: #222222;
$radius: 12px;
$primary: #b553bf;
$hvrColor: #823a89;
$black: #000 !default;
$box-shadow: 0 1rem 1.5rem rgba($black, 0.5) !default;

.card {
  background-color: $backgroundColor;
  padding: 1rem;
  margin: 2rem auto;
  width: 50vw;
  max-width: 95%;
  height: 50vh;
  border-radius: $radius;
  box-shadow: $box-shadow;
}

.card1 {
  background-color: $backgroundColor;
  padding: 1rem;
  margin: 2rem auto;
  width: 50vw;
  max-width: 95%;
  height: 40vh;
  border-radius: $radius;
  box-shadow: $box-shadow;
}
