$backgroundColor: #222222;
$radius: 12px;
$btnColor: #12bb99;
$hvrColor: #12bb99a7;
$black: #000 !default;
$box-shadow: 0 1rem 1.5rem rgba($black, 0.50) !default;


.card {
  background-color: $backgroundColor;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  height: 25vh;
  border-radius: $radius;
  box-shadow: $box-shadow;

}