$backgroundColor: #222222;
$primary: #12bb99;
$secondary: #12bb99a7;
$black: #000 !default;
$box-shadow: 0 1rem 1.5rem rgba($black, 0.3) !default;

footer {
  background: $backgroundColor;
  border-top: 1px solid $primary;
  padding: 1em 3em;
  margin: 0;
  margin-top: 5vh;
  text-align: center;
  position: relative;
  bottom: 0;
  box-shadow: $box-shadow;
  filter: drop-shadow(0px 0px 10px #000);
}
