$backgroundColor: #171717;
$primary: #12bb99;

html, body {
  font-family: "Caveat", cursive;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $primary;


}

body {
  background: $backgroundColor;
  height: 100%;


  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
}
